<!DOCTYPE html>
<html>
<body>

<h1>Add an Ingredient</h1>

<p>Add an Ingredient here by adding a name and amount.</p>

<form action="/action_page.php">

  
  <label for="inventory">Ingredient:</label>
  
  <input type="text" Ingredient="name" placeholder="Enter Ingredient Name">
  <label for="inventory">Amount:</label>
  </select>
  <input type="number" Name="Amount:" placeholder="Enter ingredient amount" required="0" min="0"/
    <br><br><br>

  
  

  <input type="submit" value="Add Ingredient">
  <br><br>
  <input type="submit" value="Submit">
</form>

<p>Click Add Ingredient to add another Ingredient and it's amount to the Inventory. Click the "Submit" button and the Ingredient will be added to the Inventory. </p>

</body>
</html>