<!DOCTYPE html>
<html>
<body>

<h1>Delete an Ingredient </h1>

<form action="/action_page.php">

Select which of the following ingredients you would like to delete
    
  <label for="ingredient">Ingredient List:</label>
  <br>
  <select name="Ingredients" id="recipe">
    <option value="Coffee">Cofee</option>
    <option value="Milk">Milk</option>
    <option value="Sugar">Sugar</option>
    <option value="Chocolate">Chocolate</option>
    <option value="Cinnamon">Cinnamon</option>
    <option value="Vanilla">Vanilla</option>
    <option value="Love">Love</option>
  </select>
  
  
  
  <br><br>
  <input type="submit" value="Delete Ingredient">
  <br><br>
  <input type="submit" value="Submit">