<!DOCTYPE html>
<html>
<head></head>
<style> 
.myDiv {
  border: 4px outset lightskyblue;
  border-radius: 7px;
  background-color: lightcyan;
  text-align: left;
  color: black;
}

table, th, td {
  border: .5px solid black;
  border-collapse: collapse;
}
</style>
</head>

<body>
  <div class="myDiv"> <h1> Inventory Ingredients</h1> </div>

  <div layout:fragment="content">
    <script src="https://tildesites.bowdoin.edu/~k.preslermarshall/AngularJS/angular.min.js"></script>
    <script>
        /* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
        /*<![CDATA[*/ 
        var app = angular.module('myApp', []);
        app.controller('inventory', function($scope, $http) {



          var data = {

            "ingredients" : [
              {
                "name": "Coffee",
                "amount": 10,
              },
              {
                "name": "Decaf coffee",
                "amount": 10,
              },
              {
                "name": "Sugar",
                "amount": 10,
              }
            ]
          };


 /*      $http.put("/api/v1/inventory", data).then(function(response) {
        console.log(response);
      });

      */

      $http.get('/api/v1/inventory')
        .then(function(response) {
          $scope.ivt = response.data;
          $scope.ivtIngredients = $scope.ivt.inventoryIngredients;
          console.log($scope.inventory);
        })
        .catch(function(error) {
          console.log('Error occurred:', error);
        });



        $scope.updateIngredient = function() {
      var selectedIngredient = $scope.selectedIngredient;
      var selectedAmount = $scope.selectedAmount;

      if(selectedIngredient && selectedAmount) {
        
        var data = {
          
          "ingredients" : [
            {
              "name": selectedIngredient.name,
              
              "amount": selectedAmount,
            },
          ]}

          
    }

    };

  });


    
  </script>


<!-- The next line creates a div that uses our angular controller and it's functionalities-->
    <div ng-app="myApp" ng-controller="inventory">


<!-- In this line I start creating the table that will hold ingredient element fetched from the server-->
      <ul style="font-size: larger; line-height: 1.5;">

        <table>
          <thead> 
            <tr> Ingredient Name </tr>
            <tr> Amount in Inventory</tr>
          </thead>
          <tbody> </tbody>
          <tr ng-repeat="Ingredient in ivtIngredients">
            <td> {{Ingredient.name}}</td>
            <td>{{Ingredient.amount}} </td>
          </tr>
        </table>
    
      <hr class= "solid"> 
    
      <div class="myDiv"><h2> Update Ingredient</h2> </div>
      <br>
    
    <form action="/action_page.php">
    
      <label for="recipe"> Select Ingredient:</label>
      <br>
      <br>


      <select ng-model = "selectedIngredient" ng-options = "Ingredient as Ingredient.name for Ingredient in ivtIngredients" required ="true">
        <option value=""></option>
      </select>

      <input ng-model= "enteredAmount" type="number" name="Amount:" placeholder="Enter Amount" min="1" />

      <button ng-click = "updateIngredient()"> Submit </button>

      <br> </br>

      <input style="background-color: black; color: wheat;" type="number" 
      
      name="Amount:" placeholder="Enter Amount" min="0"/>
    
      
      <br> </br>
    
      <hr class= "solid"> 
    
      <div class="myDiv"><h2>Add Ingredient</h2> </div>
      <br>
    
      <label for="addingredient">Please Complete</label>
      <br>
      <br>
    
      <input style="background-color: black; color: wheat;" type="text" 
      
      name="name:" placeholder="Ingredient Name"/>
    
      <input style="background-color: black; color: wheat;" type="number" 
      
      name="Amount:" placeholder="Enter Amount" min="0"/>
    
      <input type="submit" value="submit">
      <br> </br>
      <br> </br>
    
      <input type="submit" value="return" style = "float: right;" class="btn btn-large">
    </form>
    </div>
  </body>
</html>